* {
    box-sizing: border-box;
}

:root {
    --primary-color: #c58c85;
    --secondary-color: #a1665e;
    --soft-bg: #fdf6f5;
    --text-dark: #3a3a3a;
}
body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    width: 100%;
    color: var(--text-dark);
    line-height: 1.5;
    background-color: var(--soft-bg);
}

.topHeader {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.topHeader_logo {
    height: auto;
}

.topHeader_logo img {
    height: 70px;
    width: auto;
    display: block;
}

.topHeader_menu {
    display: none;
    width: 100%;
    background-color: var(--secondary-color);
}

.topHeader_menu a {
    text-decoration: none;
    padding: 1em;
    color: white;
    font-weight: bold;
    box-sizing: border-box;
}

.topHeader_menu ul {
    list-style-type: none;
    display: flex;
    gap: 0rem;
    margin: 0.5em 0;
    padding: 0;
    width: 100%;
    align-items: center;
    flex-direction: column;
}

#button_menu:checked ~ .topHeader_menu {
    display: flex;
}

#button_menu {
    display: none;
}

.cta {
    display: none;
    text-decoration: none;
    color: white;
    background-color: var(--secondary-color);
    padding: 0.5em 1.5em;
    margin-top: 1em;
    box-sizing: border-box;
    border-radius: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    text-align: center;
    box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.7);
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.cta:hover {
    background-color: #b3736a;
    transform: translateY(-2px);
    box-shadow: 2px 3px 6px 3px rgba(0, 0, 0, 0.7);
}

.cta:active {
    transform: translateY(-1px);
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.menu-toggle span{
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--primary-color);
    border-radius: 2px;
}

.inicio {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
}

.inicio_container {
    padding: 1em 1em 0;
}

.inicio_container_title {
    margin: 0;
    font-size: 1.7em;
}

.inicio_container p {
    margin: 0;
    padding: 1em 0 0.5em;
    font-size: 0.9em;
}

.inicio_container a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--secondary-color);
    font-size: 0.7em;
    color: white;
    display: inline-block;
    margin: 0.5em 0;
    padding: 0.5em 1em;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px 10px 1px black;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

.inicio_container a:hover, .inicio_container a:focus {
    background-color: #b3736a;
    transform: translateY(-2px);
    box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.8);
}

.inicio_container a:active {
    transform: translateY(-1px);
}

.inicio_container span {
    color: var(--primary-color);
    filter: drop-shadow(1px 1px 2px rgba(0 0 0 / 0.3));
}

.inicio_fotoPrincipal img {
    max-width: 480px;
    height: auto;
    display: block;
}

.marquee {
    width: 100%;
    display: flex;
    background-color: var(--secondary-color);
    overflow: hidden;
    margin: 0;
    padding: 1em 0;
    align-items: center;
}

.marquee_content {
    display: flex;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
}

.marquee_content span {
    font-size: 0.7em;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-right: 35px;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.marquee:hover .marquee_content {
    animation-play-state: paused;
}

.treatment {
    background-color: #fdf6f5;
    padding: 1.5em 1em 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.treatment_grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    width: 100%;
}

.treatment_title {
    text-align: center;
    width: 100%;
    margin-bottom: 2em;
    padding: 1em;
    color: var(--secondary-color);
    margin: 0;
    font-size: 1.7em;
    max-width: 32.5em;
    text-transform: uppercase;
}

.treatment_card {
    text-align: center;
    width: 100%;
    max-width: 32.5em; /* 520px */
    padding: 1.5em 1.5em 0em 1.5em;
    border-radius: 1.5rem;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    outline: 1px solid rgba(197, 149, 133, 0.6);
    margin-bottom: 1em;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    flex-grow: 1;
}

.treatment_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(161, 102, 94, 0.5);
    outline: 1px solid var(--primary-color);
}

.treatment_img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 1rem;
}

.treatment_img img {
    border-radius: 1em;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.5 ease;
}

.treatment_card:hover .treatment_img img {
    transform: scale(1.03)
}

.treatment_card_title {
    color: var(--secondary-color);
    font-size: 1.4em;
    font-weight: 700;
    letter-spacing: 1.5px;
    margin: 0.5em 0 0;
}

.treatment_description {
    width: 80%;
    margin: 0.3em auto 1.2em;
    font-size: 0.95em;
    line-height: 1.8;
    color: #666;
    font-weight: 400;
    opacity: 1;
}

.treatment_features {
    padding-left: 0;
    list-style-type: none;
    margin: 0 0 1.5em 0;
    font-size: 1em;
}

.treatment_features li {
    margin-bottom: 0.6em;
    color: #555;
    font-size: 0.9em;
}

.treatment_features li::before {
    content: "✦";
    color: var(--primary-color);
    margin-right: 10px;
    font-size: 1.2em;
}

.cta_card {
    text-decoration: none;
    background-color: var(--secondary-color);
    color: white;
    padding: 0.5em 1.2em;
    border-radius: 1.5em;
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: auto;
    transition: background-color 0.3 ease;
}

.cta_card:hover {
    background-color: var(--primary-color);
}

.treatment_action {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.cta_view-all {
    color: var(--secondary-color);
    padding: 0.8em 2rem;
    text-decoration: none;
    border-radius: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid var(--secondary-color);
    font-size: 0.75em;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.cta_view-all:hover {
    background-color: var(--secondary-color);
    color: white;
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(161, 102, 94, 0.5);
    color: white;
}

.all-treatments {
    padding: 1.5em 1.5em;
    max-width: 600px;
    margin: 2em auto;
    border-radius: 1.5em;
}

.all-treatments h2 {
    padding: 0.5em 1em 1em;
}

.all-treatments_container details {
    border-bottom: 2px solid rgba(197, 140, 133, 0.5);
    border-radius: 0;
    overflow: hidden;
    transform: all 0.4s ease;
    border-radius: 2em;
    margin-bottom: 1em;
}

details[open] {
    background-color: #fdfaf9;
    border-bottom: 2px solid var(--primary-color);
}

summary {
    list-style-type: none;
    padding: 1.25em 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    color: var(--text-dark);
    background: transparent;
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    cursor: pointer;
}

summary::after {
    content: '';
    width: 10px;
    height: 10px;
    border-right: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    transform: rotate(45deg) translateY(-3px);
    transition: transform 0.3s ease;
    margin-left: 10px;
}

details[open] summary::after {
    transform: rotate(-135deg);
    margin-top: 5px;
}

summary::-webkit-details-marker {
    display: none;
}

summary:hover {
    color: var(--primary-color);
    transform: translateY(-2px);
}

.acc-content {
    padding: 0 2em 2.5em 3em;
    animation: deslizar 0.5s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

@keyframes deslizar {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

.acc-content ul {
    list-style-type: none;
    margin-bottom: 2em;
    padding: 0;
    width: 100%;
}

.acc-content ul li {
    padding: 0.5em 0;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acc-content ul li:last-child {
    border-bottom: none;
}

.acc-content ul li::before {
    content: '✓';
    color: var(--secondary-color);
    margin-right: 0.5em;
    font-weight: bold;
}

.cta-acc {
    display: inline-block;
    width: fit-content;
    padding: 0.7em 1.25em;
    background-color: var(--secondary-color);
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 0.7em;
    letter-spacing: 1px;
    font-size: 0.85rem;
    transition: all 0.3s ease;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.3);
}

.cta-acc:hover {
    background-color: var(--primary-color);
    transform: translateY(-1px);
    box-shadow: 3px 5px 5px rgba(161, 102, 94, 0.3);
}
